{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}
{% block body %}
    <div class="container mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger mt-4">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}


        <form action="{{ path('security.login') }}" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="username">Email</label>
                <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@symblog.fr" value="{{ last_username }}">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Mot de passe</label>
                <input type="password" id="password" class="form-control" name="_password" placeholder="********"/>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="remember" checked/>
                        <label class="form-check-label" for="remember"> Se souvenir de moi </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Mot de passe oublié ?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
        </form>
    </div>


{% endblock %}
