{% extends 'base.html.twig' %}

{% block title 'Agence ImmoPlus | Les biens' %}
{% block body %}
    <div class="container mt-4">
        <h1 class="display-4">Voir tous nos biens ! </h1>
    </div>

{% endblock %}
