<form method="post" action="{{ path('admin.option.delete', {'id': option.id}) }}" onsubmit="return confirm('Voulez vous supprimer cette option ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
